.git
.dockerignore
.env

.idea
.bundle

.rspec
/db/*.sqlite3
/coverage/
/spec/tmp

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development
/storage/*
!/storage/.keep
