/coverage
.idea/
tmp/
config/database.yml
config/secrets.yml
log/
.DS_Store
rails_best_practices_output.html
dump.rdb
specimens.xls
species.xls
public/assets/
latest.dump
.rbenv-vars
.env
config/application.yml
