/coverage
.idea
.bundle
tmp/
log/
public/assets/
storage/

config/database.yml
config/application.yml

# Ignore master key for decrypting credentials and more.
config/master.key

.DS_Store

dump.rdb
latest.dump
specimens.xls
species.xls
spec/examples.txt

# Ignore local env variables
.rbenv-vars
.env
