/coverage
.idea/
tmp/
config/database.yml
config/secrets.yml
config/application.yml
log/
.DS_Store
rails_best_practices_output.html
dump.rdb
specimens.xls
species.xls
public/assets/
public/system/
latest.dump
spec/examples.txt
.rbenv-vars
.env
