

<p>
  <strong>Name:</strong>
  <%= @plant_plate.name %>
</p>

<p>
  <strong>How many:</strong>
  <%= @plant_plate.how_many %>
</p>

<%= link_to 'Edit', edit_plant_plate_path(@plant_plate) %> |
<%= link_to 'Back', plant_plates_path %>
