<div class="panel panel-default">
  <div class="panel-heading"><h3  class="panel-title">Statuses</h3></div>

  <div class="panel-body"><table class="table">


  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @statuses.each do |status| %>
      <tr>
        <td><%= status.name %></td>
        <td><%= link_to 'Edit', edit_status_path(status) %></td>
        <td><%= link_to 'Delete', status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table></div>

</div>

<%= link_to 'New Status', new_status_path %>
