<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">Duplicate Reads</h3>
  </div>

  <div class="panel-body">

    <div class="wideTable">

      <table class="table table-bordered">

        <thead>
        <tr>
          <th>Name (id)</th>
          <td>Last updated</td>
          <td></td>
        </tr>
        </thead>

        <!--get list w duplicates-->
        <% a=[] %>
        <% PrimerRead.select("name").all.each do |i| %>
            <% a << i.name %>
        <% end %>

        <% d=a.select{ |e| a.count(e) > 1 }.uniq %>

        <tbody>
        <% i=0 %>
        <% d.each do |duplicate_read| %>

            <% if (i % 2 == 0) %>
                <% color = "#f5f5f5" %>
            <% else %>
                <% color = "white" %>
            <% end %>

            <% PrimerRead.where(:name => duplicate_read).each do |read| %>
                <tr style="background-color: <%=color%>">
                  <td><%= link_to "#{read.name} (#{read.id})", edit_primer_read_path(read) %></td>
                  <td> <%= read.updated_at.in_time_zone("CET").strftime("%Y-%m-%d %H:%M:%S") %></td>
                  <td><%= link_to 'Delete', read, method: :delete, data: {confirm: 'Are you sure?' } %></td>
                </tr>
            <% end %>
            <% i+=1 %>
        <% end %>
        </tbody>

      </table>
    </div>

    <br>

  </div>

</div>

