<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">Duplicate Reads</h3>
  </div>

  <div class="panel-body">

    <div class="wideTable">

      <div class="wideTable">
        <table id="primer_reads-duplicates"  data-source="<%= duplicates_primer_reads_url(format: "json") %>"  class="table table-hover table-bordered">

          <thead>
          <tr>
            <th>Name</th>
            <th>Assembled?</th>
            <th>Contig</th>
            <td>Last updated</td>
            <th></th>
          </tr>
          </thead>

          <tbody id="primer_read_list">

          </tbody>
        </table></div>
    </div>

    <br>

  </div>

</div>

