<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Primer Reads</h3>
  </div>

  <div class="panel-body">

    <div class="wideTable">
      <table id="primer_reads"  data-source="<%= primer_reads_url(format: "json") %>"  class="table table-striped table-hover table-bordered">

        <thead>
        <tr>
          <th>Name</th>
          <th>Assembled?</th>
          <th>Contig</th>
          <th>Last updated</th>
          <th></th>
        </tr>
        </thead>

        <tbody id="primer_read_list">

        </tbody>
      </table></div>

    <br>
    <% if user_signed_in? %>
      <div class="well">
        New Primer Read(s):
        <%= form_for PrimerRead.new do |f| %>
            <%= f.file_field :chromatogram, multiple: true, name: "primer_read[chromatogram]" %>
        <% end %>
        <% # jquery upload template # %>
        <script id="template-upload" type="text/x-tmpl">
          <div class="upload">
            {%=o.name%}
              <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 0%;"></div>
              </div>
          </div>
        </script>
      </div>
    <% end %>

  </div>
</div>

<% if PrimerRead.unprocessed.count > 0 %>
    Unprocessed: <%= PrimerRead.unprocessed.count %>
<% end %>

