<%= render 'form' %>

<% if user_signed_in? %>
  <%= link_to 'Import NGS run data', import_ngs_run_path, method: :post %>
<% end %>

<table width="100%">
  <tr>
    <td>
      <%= link_to '', 'javascript:history.go(-1)', :class => "glyphicon glyphicon-chevron-left" %>
    </td>
    <td align="right">
      <%= link_to '', @ngs_run, method: :delete, data: { confirm: 'Are you sure?' }, :class => "glyphicon glyphicon-trash" %>
    </td>
  </tr>
</table>