<% provide(:title, 'Overview diagrams') %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Overview diagrams</h3>
  </div>
  <div class="panel-body" id="main">
    <div class="form-group" style="font-size: 14px;">
      Select a marker to show a tree visualizing the completion status of all families for this marker.
      <%= select_tag('Marker', options_from_collection_for_select(Marker.in_project(current_project_id).order(:name), 'id', 'name'),
                     prompt: "Select a Marker", class: 'form-control', id: 'progress_diagram_marker_select') %>
    </div>
    <div id="progress_legend"></div>
    <div id="progress_tree">
      <button id='reset_zoom' class="btn btn-default" style="margin: 5px; visibility: hidden;">Reset zoom & center</button>
    </div>
  </div>
</div>
