<% provide(:title, 'Overview diagrams') %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Overview diagrams</h3>
  </div>
  <div class="panel-body" id="main">
    <button id='reset_zoom'>Reset zoom & center</button>
    <div id="progress_tree"></div>
  </div>
</div>

<div>
  <%= link_to 'View overview tables', progress_path %>
</div>