<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">Individuals</h3>
  </div>

  <div class="panel-body">

    <table id="individuals" data-source="<%= individuals_url(format: "json") %>">

      <thead>
      <tr>
        <th>Specimen ID</th>
        <th>Species</th>
        <th>Herbarium</th>
        <th>Collector</th>
        <th>Collection Nr</th>
        <th>Last updated</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      </tbody>

    </table>

  </div>

</div>

<%= link_to 'New Individual', new_individual_path %>

