<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">Specimens</h3>
  </div>

  <div class="panel-body">

    <div class="wideTable">
      <table id="individuals" data-source="<%= individuals_url(format: "json") %>" class="table table-striped table-hover table-bordered">

        <thead>
        <tr>
          <th>Specimen ID</th>
          <th>Parent Taxon</th>
          <th>Collection</th>
          <th>Collector</th>
          <th>Collector's Field Number</th>
          <th>Last updated</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        </tbody>
      </table></div>
  </div>
</div>

<% if user_signed_in? %>
  <p>
    <%= link_to export_as_csv_individuals_path, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-download-alt"></span>
    <% end %>
    Download a CSV table containing information about all specimen in your currently selected project
  </p>
<%end %>

<p>
  <%= link_to new_individual_path, class: 'btn btn-default', title: 'Create a new specimen entry' do %>
    <span class="glyphicon glyphicon-unchecked"></span>
  <% end %>
  Create a new specimen entry
</p>