<%= show_val_errors(@user)%>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Edit user</h3>
  </div>

  <div class="panel-body">
    <%= form_for @user do |f| %>
      <%= render 'form', :f => f %>
    <% end %>
  </div>
</div>