<%= show_val_errors(@user)%>

<div class="panel panel-default">
  <h4>Edit user</h4>

  <div class="panel-body">
    <%= form_for @user do |f| %>
      <%= render 'form', :f => f %>
    <% end %>
  </div>
</div>