

<p>
  <strong>Note:</strong>
  <%= @primer_pos_on_genome.note %>
</p>

<p>
  <strong>Position:</strong>
  <%= @primer_pos_on_genome.position %>
</p>

<%= link_to 'Edit', edit_primer_pos_on_genome_path(@primer_pos_on_genome) %> |
<%= link_to 'Back', primer_pos_on_genomes_path %>
