<div class="tab-pane" id="issue_details">
  <br>
  <p>The following issues were found regarding this record. Please check which steps need to be taken now.</p>

  <div class="wideTable">
    <table id="issue_details" class="table table-striped table-hover table-bordered">
      <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Description</th>
        <th>Created at?</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <%= issues(record) %>
      </tbody>
    </table>
  </div>
</div>