<li>
  <a href="#sativa_warnings" role="tab" data-toggle="tab" style="<%= warning_color(marker_sequences) %>">
    <span class="glyphicon glyphicon-exclamation-sign"></span> Taxonomic issues
  </a>
</li>