<div class="tab-pane" id="sativa_warnings">
  <br>
  <p>The following potential issues with taxonomic labelling were found by the SATIVA algorithm. Please check which steps need to be taken now.</p>

  <div class="wideTable">
    <table id="mislabels" class="table table-striped table-hover table-bordered">
      <thead>
      <tr>
        <th></th>
        <th>Mislabel level</th>
        <th>Proposed label</th>
        <th>Confidence</th>
        <th>Proposed taxonomy path</th>
        <th>Per rank confidence</th>
        <th>SATIVA analysis</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <%= mislabels(marker_sequence) %>
      </tbody>
    </table>
  </div>
</div>