<div class="jumbotron about-background" style="opacity: 0.8;">

  <a href="https://www.your-url.org">
    <img alt="project_name" width="100" class="pull-right" src=<%= asset_path('project_images/GBoL_transparent.png')  %> />
  </a>

  <h1>
    Your Project Name
    <br>
    <small>Subtitle</small>
  </h1>

  <h2>A short description</h2>

  <br>

  <p>
    A more detailed description
  </p>

  <hr>

  <footer class="row">
    <div style="height: 70px" class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <a href="https://www.your-project-partner.de"><img alt="partner" height="40" src=<%= asset_path('project_images/BMBF_transparent.png') %> /></a>
    </div>

    <!-- Add as many links/logos as you need in this section -->
  </footer>

  <hr>

</div>