<div class="panel panel-default" style="opacity: 0.7;">

  <div class="panel-heading">
    <h3 class="panel-title">Impressum</h3>
  </div>

  <div class="panel-body">
    <p>Web App written by and responsible for this website in accordance with § 5 Telemediengesetz and § 55 Staatsvertrag für Rundfunk und Telemedien:</p>
    <p>
      <span style="color: darkslategray"><strong><a href="mailto:kaimueller@uni-muenster.de">Prof. Dr. Kai Müller</a></strong></span><br>
    </p>

    <p>Co-author:</p>
    <p>
      <span style="color: darkslategray"><strong><a href="mailto:sarah.wiechers@uni-muenster.de">Sarah Wiechers</a></strong></span><br>
    </p>

    <br>

    <p><strong>Organisation</strong></p>
    <p>
      Evolution und Biodiversität der Pflanzen<br>
      <a href="http://ieb.uni-muenster.de/">Institute for Evolution and Biodiversity</a><br>
      <a href="https://www.uni-muenster.de/en/">Westfälische Wilhelms-Universität Münster</a><br>
      (Statutory body and an institution of the state of North Rhine-Westphalia)
      Hüfferstraße 1<br>
      48149 Münster<br>
      Germany<br>
    </p>
    <p><b>Tax ID number:</b> DE 126118759</p>

    <br>

    <p><strong>Inspecting authority</strong></p>
    <p>
      <a href="http://www.wissenschaft.nrw.de/ministerium/">Ministry for innovation, science and research of North Rhine-Westphalia</a><br />
      (Ministerium f&uuml;r Innovation, Wissenschaft und Forschung des Landes Nordrhein-Westfalen)<br />
      V&ouml;lklinger Stra&szlig;e 49<br />
      40221 D&uuml;sseldorf<br />
      Germany
    </p>
  </div>
</div>
