<div class="panel panel-default" style="opacity: 0.7;">

  <div class="panel-heading">
    <h3 class="panel-title">Impressum</h3>
  </div>

  <div class="panel-body">
    <p>Wep App written by and responsible for this website in accordance with § 5 Telemediengesetz and § 55 Staatsvertrag für Rundfunk und Telemedien:</p>
    <p>
      <span style="color: darkslategray"><strong><a href="mailto:kaimueller@uni-muenster.de">Prof. Dr. Kai Müller</a></strong></span><br>
    </p>
    <p>Co-author:</p>
    <p>
      <span style="color: darkslategray"><strong><a href="mailto:sarah.wiechers@uni-muenster.de">Sarah Wiechers</a></strong></span><br>
    </p>
    <br>
    <p>
      Evolution und Biodiversität der Pflanzen<br>
      Institut für Evolution und Biodiversität<br>
      Westfälische Wilhelms-Universität Münster<br>
      Hüfferstraße 1<br>
      48149 Münster<br>
    </p>
  </div>

</div>