<div class="panel panel-default" style="opacity: 0.7;">

  <div class="panel-heading">
    <h3 class="panel-title">Impressum</h3>
  </div>

  <div class="panel-body">


    <p>GBOL5 web application written by <a href="http://www2.ieb.uni-muenster.de/EvolBiodivPlants/en/People/Mueller">Kai Müller</a>, who is also responsible for this website in accordance with § 5 Telemediengesetz and § 55 Staatsvertrag für Rundfunk und Telemedien.</p>
    <p><strong>Contact:</strong></p>
    <p>
      Prof. Dr. Kai Müller<br>
      Evolution und Biodiversität der Pflanzen<br>
      Institute for Evolution and Biodiversity<br>
      Westfälische Wilhelms-Universität Münster<br>
      Hüfferstraße 1<br>
      48149 Münster<br><br>
      kaimueller at uni-muenster.de<br>
    </p>
  </div>
</div>