<div class="panel panel-default" style="opacity: 0.7;">

  <div class="panel-heading">
    <h3 class="panel-title">Legal disclosure</h3>
  </div>

  <div class="panel-body">
    Under construction!
    <!-- Add any necessary legal information here -->
  </div>
</div>
