<div class="panel panel-default" style="opacity: 0.7;">

  <div class="panel-heading">
    <h3 class="panel-title">Privacy Policy</h3>
  </div>

  <div class="panel-body">
    <h4><strong>Name and address of the responsible controller</strong></h4>
    <p>
      The responsible controller as defined in the EU General Data Protection Regulation (GDPR) and other national data
      protection laws of the EU member states as well as other data protection-related provisions is:<br>
      <br>
      Kai Müller<br>
      Hüfferstr. 1, 48149 Münster<br>
      Telefon: +49 251 83-21645<br>
      E-Mail: <a href="mailto:kaimueller@uni-muenster.de">kaimueller@uni-muenster.de</a>
    </p>

    <br>

    <h4><strong>General information on data processing</strong></h4>
    <p>
      We collect and use the personal data of our users insofar as necessary for operating a functional website and
      delivering our content and services, and to the extent to which the law permits.
    </p>

    <p><strong>Legal basis for processing personal data</strong></p>
    <p>
      Whenever we obtain the consent from a data subject to process personal data, Art. 6 (1 a) GDPR serves as the legal
      basis for processing this personal data.

      Whenever processing such data is necessary for compliance with a legal regulation Art. 6 (1 c) GDPR serves as the
      legal basis.

      In cases for which processing is necessary to protect the vital interests of the data subject or of another
      natural person, Art. 6 (1 d) GDPR serves as the legal basis.

      If processing is necessary for safeguarding our legitimate interests or that of a third
      party, except where such interests are overridden by the interests or fundamental rights and freedoms of the data
      subject, Art. 6 (1 f) GDPR serves as the legal basis for processing this data.
    </p>

    <p><strong>Duration of storage of personal data</strong></p>
    <p>
      We reserve the right to retain the data subject’s personal data for as long as the purpose of such storage exists.
      If processing is permitted on the basis of the subject’s consent, his/her personal data is only stored until the
      data subject withdraws his/her consent, except in cases where processing is governed by a different legal basis.
    </p>

    <p><strong>Right to rectification and erasure of personal data</strong></p>
    <p>
      The data subject has the right to obtain from the controller without undue delay the rectification of inaccurate
      personal data concerning him or her. The data subject also has the right to obtain from the controller the erasure
      of personal data concerning him or her without undue delay as soon as the purpose of storage is no longer necessary.
      In cases where data processing is performed on the basis of consent, the right to erasure exists if the data
      subject withdraws his/her consent and no other legal grounds exist for processing the data.

      Personal data must be erased if the data subject objects to the processing in accordance with Art. 21 (1) GDPR and
      there are no overriding legitimate grounds for the processing, or if the personal data has been unlawfully
      processed, or if the personal data must be erased in order to comply with a legal requirement mandated by an EU
      or member state law.

      The right to erasure as put forth in the cases stated above does not apply, however, if it would prevent
      compliance with a legal obligation which requires processing by European Union or member state law or if extended
      storage is necessary for the establishment, exercise or defence of legal claims.
    </p>

    <p><strong>Right to withdrawal</strong></p>
    <p>
      If permission to process personal data was granted by the consent of the data subject, he or she may withdraw
      his/her consent at any time. All processing of personal data performed prior to withdrawal remains lawful
      irrespective of the subject’s withdrawal.
    </p>

    <p><strong>Right to information</strong></p>
    <p>
      The data subject has the right to obtain our confirmation whether we are processing any
      personal data concerning him or her. If such is the case, the data subject has a right to information regarding
      the type of personal data and the purpose for which it is being processed. The data subject also has the right to
      obtain information on the duration of the planned storage of his/her data, or on the criteria for determining how
      long his/her data is to be stored.
    </p>

    <br>

    <h4><strong>Provision of the website and creation of log files</strong></h4>

    <p><strong>Scope of data processing</strong></p>
    <p>
      For every access query to our website, our server automatically collects data and information from the querying computer system.
      The following data is collected in this process:

      <ul>
        <li>information on the browser type and version</li>
        <li>the user's operating system</li>
        <li>the user’s Internet service provider</li>
        <li>the user’s IP address</li>
        <li>the date and time of the query</li>
        <li>websites from which the user’s system was directed to our website</li>
        <li>websites which the user’s system accesses via our website</li>
      </ul>

      This data is compiled in log files and saved on our server. No further personal data is stored together with the log file data.
    </p>

    <p><strong>Legal basis for processing</strong></p>
    <p>
      The legal basis for temporarily processing data and log files is provided in Art. 6 (1 f) GDPR.
    </p>

    <p><strong>Purpose of processing</strong></p>
    <p>
      The temporary storage of the IP address on our server is necessary for granting the user’s system access to our website. For this purpose, the user’s IP address must remain stored on our server for the duration of the session.

      Data storage in log files is required to ensure the functionality of the website. Furthermore, the data enables us to optimise the website and guarantee the security of our IT systems. Data analysis for marketing-related purposes is not performed in this context.

      These purposes correspond to the legitimate interests of data processing as indicated in Art. 6 (1 f) GDPR.
    </p>

    <p><strong>Duration of storage of personal data</strong></p>
    <p>
      The data is erased at the conclusion of the respective session.

      All data stored in log files is erased within fourteen days. A longer period of data storage is possible.
      In such cases, the user’s IP address is erased or anonymised in such a way that renders it impossible to
      identify the querying client.
    </p>

    <br>

    <h4><strong>Use of cookies</strong></h4>

    <p><strong>Scope of data processing</strong></p>
    <p>
      Our website uses cookies. Cookies are small text files saved on or by the web browser, installed on the user’s
      computer system. Cookies are often saved on the user’s operating system whenever a user accesses a website.
      The file contains a distinctive sequence of characters which enables the browser to correctly identify a website
      when it is visited again.

      We use cookies to improve the user friendliness of our website. Some elements on our website make it necessary to
      identify a querying browser after a page change. The following data is saved and transmitted through and by cookies:

      <ol>
        <li>login information</li>
        <li>session settings</li>
      </ol>
    </p>

    <p><strong>Legal basis for processing</strong></p>
    <p>
      The legal basis for processing personal data using technically necessary cookies is provided in Art. 6 (1 f) GDPR.
      The legal basis for processing personal data using cookies for other purposes for which respective consent is
      granted by the user is provided in Art. 6 (1 a) GDPR.
    </p>

    <p><strong>Purpose of processing</strong></p>
    <p>
      The purpose of using technically necessary cookies is to make it easier for the client to use the website.
      Some functions on our website cannot be offered without cookies. Such functions require the browser to identify
      the user after a page change. These purposes correspond to the legitimate interests of processing personal data
      in accordance with Art. 6 (1 f) GDPR.

      Cookies are required for session management after logging in.

      The user data collected with technically necessary cookies is not used for creating user profiles.
    </p>

    <p><strong>Duration of storage of personal data</strong></p>
    <p>
      Cookies are saved on the user’s computer which transfers them to our server. Consequently, as the user, you have
      complete control over how cookies are used by your system. By changing the settings in your web browser, you can
      deactivate or restrict the transmission of cookies to external websites. You can also delete all saved cookies on
      your system at any time. Restrictions on cookie usage can be managed automatically by your browser. If you choose
      to deactivate cookies for our website, it may prevent you from taking full advantage of all the features offered
      on this website.
    </p>
  </div>
</div>