<div class="panel panel-default" style="opacity: 0.7;">

  <div class="panel-heading">
    <h3 class="panel-title">Privacy Policy</h3>
  </div>

  <div class="panel-body">
    <p>
      The GBOL5-Portal https://gbol5.de collects personal data from visitors. Personal data are all data that can be used
      to identify a real person either directly or indirectly by combination. This includes the device’s internet addresses
      (IP-addresses) and all identifiers connected with a page visit.
    </p>

    <p>
      Responsible for the GBOL5-Webportal and data processing according to the General Data Protection Regulation (GDPR) is:<br>
      <p style="padding-left: 30px;">
        Kai Müller<br>
        Evolution and Biodiversity of Plants<br>
        <a href="http://ieb.uni-muenster.de/">Institute for Evolution and Biodiversity</a><br>
        <a href="https://www.uni-muenster.de/en/">Westfälische Wilhelms-Universität Münster</a><br>
        (Statutory body and an institution of the state of North Rhine-Westphalia)<br>
        Hüfferstraße 1<br>
        48149 Münster<br>
        Germany<br>
        E-Mail: <a href="mailto:kaimueller@uni-muenster.de">kaimueller@uni-muenster.de</a>
      </p>
    </p>

    <p>
      You have the right to request a copy of all personal data stored about you and to request the deletion or correction
      of these data. The request can be send to person responsible for this web portal or via email to
      <a href="mailto:sarah.wiechers@uni-muenster.de">sarah.wiechers@uni-muenster.de</a>. Details on your rights to access,
      correct and delete your personal data are described in paragraphs 6, 7, 8, and 9 of this document.
    </p>

    <br>

    <h4><strong>1 Collection and processing of personal data</strong></h4>
    <p>
      The GBOL5-Portal serves the German Barcode Of Life project in the task to record the biological diversity and to
      setup a library of genetic barcodes for all biological species occurring in Germany. Therefore, the portal
      differentiates between registered users and visitors. Registered users are able to provide and edit taxonomic and
      sequence data to the GBOL5-Portal. Visitors are users who can access some of this research data without any
      registration. Different privacy protection policies apply to the groups of non-registered users and registered users
      (see paragraphs 2 and 3). The collection and processing of the research data is handled according to the rules of
      the Federal Ministry of Education and Research as founding agency and the policies of the German Research Foundation
      (DFG). Privacy protection of research data is explained in paragraph 4.
    </p>

    <br>

    <h4><strong>2 Collected personal data of non-registered users</strong></h4>
    <p>
      The following data are collected from non-registered visitors of the GBOL5-Portal:
    </p>

    <ul>
      <li>IP-address, time stamp, browser-identification, requested pages within the GBOL5-Portal</li>
    </ul>

    <p>
      These data are stored for 14 days to allow us to recognize and defend attacks on the GBOL5-Portal server.
    </p>

    <p>
      In addition, the following data will be stored on the visitor’s device for convenience of the GBOL5-Portal usage:
    </p>

    <ul>
      <li>So called cookies with a unique identifier</li>
    </ul>

    <p>
      Cookies are small text files saved on or by the web browser, installed on the user’s
      computer system. Cookies are often saved on the user’s operating system whenever a user accesses a website.
      The file contains a distinctive sequence of characters which enables the browser to correctly identify a website
      when it is visited again. We use cookies to improve the user friendliness of our website. Some elements on our
      website make it necessary to identify a querying browser after a page change.<br>

      The setting and storage of cookies can be completely prevented by disallowing them in your browsers settings.
      Alternatively, the storage of cookies can be limited to the time period of your browser session.
    </p>

    <br>

    <h4><strong>3 Collected personal data of registered users</strong></h4>
    <p>
      Users of the GBOL5-Portal can register to be able to create and edit taxonomic and sequencing data. Some reseach
      data is only visible to registered users. To be able to contact registered users about changes to the Webportal
      important to their interests the following information is stored:
    </p>
    <ul>
      <li>Name and email address of the user</li>
      <li>Affiliation in a research institute</li>
    </ul>

    <p>
      These data are only collected in agreement with the respective user. Users are informed about data collection and asked to accept this privacy policy when they register at the GBOL5-Portal.
    </p>

    <p>
      In addition to the data collected for non-registered users (see paragraph 2) the following data are collected when users are registered:
    </p>
    <ul>
      <li>Cookies with the name of the user and the date and time of their login</li>
      <li>Cookies with a unique identifier</li>
    </ul>

    <p>
      These cookies are used to manage the access of the users to their resources on the portal (upload data, access research data, and account management). The setting of cookies can be prohibited by disallowing cookies via the browser preferences. Prohibiting cookies will disable the usage of the GBOL5-Portal as registered user.
    </p>

    <br>

    <h4><strong>4 Collection of personal data in the research data</strong></h4>
    <p>
      The goal of the GBOL5-Portal is to collect research data about occurrences and genetic markers (barcodes) of
      biological species. For quality assurance and reusability of the research data it is important to have a complete
      documentation of data collection and applied sampling methods. Therefore, the research data stored and processed
      by the GBOL5-Portal system contain personal data, like collector names, sampling sites and their GPS coordinates
      and sampling dates. These are data provided by the registered users when they upload data sheets with the specimen
      data. In short, the data contain:
    </p>
    <ul>
      <li>Name(s) of the collectors that have done the specimen collection</li>
      <li>Locality and date of the sampling location, with coordinates and possibly a locality description</li>
    </ul>

    <p>
      These data are made publicly available under the condition that the collector has given his / her permission. The
      permission to publish the data can be revoked on the level of single datasets after consultation of the responsible
      GBOL5 contact person.
    </p>

    <p>
      When a registered user uploads personal data of people that are not registered in the GBOL5-Portal (e. g. people
      that participated in specimen collection) the registered user must have the permit to upload these data to the
      GBOL5-Portal. In addition, the registered user must have informed the persons about the usage of their personal
      data in the GBOL5-Portal. People whose data have been provided to the research data by registered users have the
      same rights on requesting, correction and deletion of their personal data as registered users.
    </p>

    <p>According to research data management policies of the German Research Foundation (DFG) the collected research data
      with the contained personal data are stored for at least 10 years:</p>
    <ul>
      <li><a href="http://www.dfg.de/download/pdf/dfg_im_profil/reden_stellungnahmen/download/empfehlung_wiss_praxis_1310.pdf">http://www.dfg.de/download/pdf/dfg_im_profil/reden_stellungnahmen/download/empfehlung_wiss_praxis_1310.pdf</a></li>
      <li><a href="http://www.dfg.de/download/pdf/foerderung/programme/lis/ua_inf_empfehlungen_200901.pdf"> http://www.dfg.de/download/pdf/foerderung/programme/lis/ua_inf_empfehlungen_200901.pdf</a></li>
    </ul>

    <br>

    <h4><strong>5 Sharing and disclosure of personal data to third parties</strong></h4>
    <p>
      The collected research data will be published in order to fulfill the scientific goal of the GBOL-project and make
      the results available to the interested public, researchers, as well as scientific and administrative institutions.
      The personal data of collectors can be anonymized before publication when experts request it. The anonymization
      can be done after consultation with the responsible GBOL5 contact person. The request can be send to the person
      responsible for this web portal (see address below).
    </p>

    <p>
      This web application uses Amazon Web Storage to store research data. Amazon's services are GDPR compliant as stated
      in its Data Processing Addendum.
    </p>

    <br>

    <h4><strong>6 Contact address to request deletion, correction, or accessing personal data and to revoke the
      agreement of personal data handling</strong></h4>
    <p>For all requests on deletion, correction, access and agreement on personal data collected in the GBOL5-Portal please contact:</p>
    <p style="padding-left: 30px;">
      Kai Müller<br>
      Evolution and Biodiversity of Plants<br>
      <a href="http://ieb.uni-muenster.de/">Institute for Evolution and Biodiversity</a><br>
      <a href="https://www.uni-muenster.de/en/">Westfälische Wilhelms-Universität Münster</a><br>
      (Statutory body and an institution of the state of North Rhine-Westphalia)<br>
      Hüfferstraße 1<br>
      48149 Münster<br>
      Germany<br>
      E-Mail: <a href="mailto:kaimueller@uni-muenster.de">kaimueller@uni-muenster.de</a>
    </p>

    <br>

    <h4><strong>7 Deletion or correction of personal data</strong></h4>
    <p>
      Personal data will be deleted or corrected on request when they are not part of the research data uploaded by
      registered users. Users can request the deletion or correction of their personal data by contacting the person
      responsible for this web portal (see address above). User authentication is required when requesting the deletion
      or correction of personal data.
    </p>
    <p>
      Deletion or correction of personal data contained in research data is only possible after negotiation and
      agreement of the responsible GBOL-taxon coordinator since the requirements and policies of the funding
      organization (BMBF) must be taken into account. The contact information of the taxon coordinator can be requested
      from the person responsible for this web site (see address above). A deletion of data copied and stored by other
      services on the internet (e.g. archiving services, scientific portals) cannot be carried out.
    </p>

    <br>

    <h4><strong>8 Access to collected personal data</strong></h4>
    <p>
      Collected personal data will be made available to the concerned person in machine readable or human readable form.
      Users can request information on their personal data and the data themselves by contacting the person responsible
      for this web portal (see address above). The request will be processed within a period of 4 weeks, if the requesting
      person can provide a valid authentication.
    <p>

    <br>

    <h4><strong>9 Revoke the agreement to collect personal data</strong></h4>
    <p>
      Registered users can revoke their given agreement to the collection and handling of personal data by the
      GBOL5-Portal. The collected data will then be deleted within 4 weeks. The person who wants to revoke his / her
      agreement will be asked for an authentication. The revoke-request can be send to the person responsible for
      this web portal (address see above).
    </p>

    <br>

    <h4><strong>10 Right of appeal at the regulating authority</strong></h4>
    <p>
      In accordance to article 13 of the GDPR users have the right of appeal at the regulating authority. The address is:
    </p>
    <p style="padding-left: 30px;">
      Landesbeauftragte für Datenschutz und Informationsfreiheit Nordrhein-Westfalen<br>
      Helga Block<br>
      Postfach 20 04 44<br>
      40102 Düsseldorf<br>
      or<br>
      Kavalleriestraße 2-4<br>
      40213 Düsseldorf<br>
      Email: <a href="mailto:%20poststelle@ldi.nrw.de">poststelle@ldi.nrw.de</a><br>
      Public PGP-Key: <a href="https://www.ldi.nrw.de/metanavi_Kontakt/key_ldi.asc">https://www.ldi.nrw.de/metanavi_Kontakt/key_ldi.asc</a>
    </p>
  </div>
</div>