<div class="panel panel-default" style="opacity: 0.7;">

  <div class="panel-heading">
    <h3 class="panel-title">Privacy Policy</h3>
  </div>

  <div class="panel-body">
    <p><strong>Privacy</strong></p>
    <p>
      Protecting your privacy is important to us. We therefore treat your personal data with strict confidentiality
      and in accordance with legal data protection rules and this privacy policy statement.
      Using our website is usually possible with providing personal data. As far as collecting personal data (e.g. name, e-mail address)
      is required on our website, this is done on a on a voluntary basis wherever possible. No data is made available to third parties
      without your explicit consent.

      Note that communication over the internet (e.g. by e-mail) may suffer from security vulnerabilities. An absolute protection
      from the access to data by others is not possible.
    </p>

    <p><strong>Cookies</strong></p>
    <p>
      Your browser also saves so-called "cookies" on your computer when visiting our sites. These are small text files which make your
      Internet experience more user-friendly.

      Most of the cookies used here are so-called "session cookies". They are deleted automatically when you leave our website. Other
      remain on your device until you delete them. Such cookies allow us to recognize your browser, when you visit our website the next time.

      You may configure your web browser to inform you when cookies are stored and to allow this only in single cases, to disallow cookies
      in certain cases or to generally disallow the usage of cookies. You can also activate to automatically delete all cookies upon
      closing the web browser. If cookies are deactivated, this may prevent you from taking full advantage of all the features offered on
      the website.
    </p>

    <p><strong>Server log files</strong></p>
    <p>
      When you visit our website, your web browser automatically sends the following information which is stored in so-called server log files:

      <ul>
        <li>Web browser type/ version</li>
        <li>operating system</li>
        <li>Referrer URL</li>
        <li>Hostname/IP address of the requesting device</li>
        <li>Data and time of a request</li>
      </ul>

      Such data is not linked to any personal data. The data is neither compared with that of other databases nor disclosed to
      third parties. We reserve the right to use the stored data for identification and for tracking unauthorized attempts to access
      the web server, if we have evidence for an illegal usage of our services.
    </p>

    <p><strong>Information, deletion, blocking</strong></p>
    <p>
      You have the right to get information on your personal data that may be stored on our servers, its origin and purpose.
      You also have the right to correct, delete or lock such data. On this and on other questions related to our privacy policy,
      you can contact us under the address given in the legal information of this website.
    </p>

    The German version of this privacy statement is based on a text from: https://www.e-recht24.de
  </div>
</div>