<div class="panel panel-default" style="opacity: 0.7;">

  <div class="panel-heading">
    <h3 class="panel-title">Privacy Policy</h3>
  </div>

  <div class="panel-body">
    Under construction!
    <!-- Add the contents of your privacy policy here -->
  </div>
</div>
