<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Orders</h3>
  </div>
  <div class="panel-body">


    <div class="wideTable">
      <table id="orders"  class="table table-striped table-hover table-bordered">

      <thead>
      <tr>
        <th>Name</th>
        <th>Higher-order Taxon</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @orders.each do |order| %>
          <tr>

            <td><%= link_to order.name, edit_order_path(order) %></td>

            <td>
            <% if order.higher_order_taxon %>
                <%= link_to order.higher_order_taxon.name, edit_higher_order_taxon_path(order.higher_order_taxon) %>
            <% end %>
            </td>
            <td><%= link_to 'Delete', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
      </tbody>
    </table></div>
  </div>

</div>

<%= link_to 'New Order', new_order_path %>
