<div class="panel panel-default">
  <div class="panel-heading">

  </div>
  <div class="panel-body">
    <div class="well">

      <%= render 'form' %>

      <%= link_to 'Back', 'javascript:history.go(-1)' %>
    </div>
  </div>
</div>
