

<p>
  <strong>Name:</strong>
  <%= @responsibility.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @responsibility.description %>
</p>

<%= link_to 'Edit', edit_responsibility_path(@responsibility) %> |
<%= link_to 'Back', responsibilities_path %>
