<% provide(:title, 'Overview diagrams') %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Overview diagrams</h3>
  </div>
  <div class="panel-body" id="main">
    <table>
      <tr>
        <td width="650px" align="center"></td>
        <td width="650px" align="center">
          <div class="form-group">
            Select a marker to show a diagram visualizing the number of finished sequences for this marker.
            <%= select_tag('Marker', options_from_collection_for_select(Marker.in_project(current_project_id).order(:name), 'id', 'name'),
                           prompt: "Select a Marker", class: 'form-control', id: 'overview_diagram_marker_select') %>
          </div>
        </td>
      </tr>
      <tr>
        <td width="650px" align="center">
          <div id="all_species" class="overview_diagram" data-id="all">
            <div id="diagram_title_all" class="diagram_title"></div>
            <div id="sequence_all" class="sequence"></div>
            <div id="chart_all" class="chart" data-id="all">
              <div id="explanation_all" class="explanation" style="visibility: hidden;">
                <span id="percentage_all" class="percentage"></span><br/>
                of all species belong to this group
              </div>
            </div>
          </div>
        </td>

        <td width="650px" align="center">
          <div class="overview_diagram" data-id="finished">
            <div id="diagram_title_finished" class="diagram_title"></div>
            <div id="sequence_finished" class="sequence"></div>
            <div id="chart_finished" class="chart" data-id="finished">
              <div id="explanation_finished" class="explanation" style="visibility: hidden;">
                <span id="percentage_finished" class="percentage"></span><br/>
                of all barcode sequences for this marker belong to this group
              </div>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>

<div>
  <%= link_to 'View overview tables', overview_path %>
</div>