<div id="sunburst_diagram">
  <div id="main">
    <h3>Expected GBoL marker sequences per family</h3>
    <div id="sequence"></div>
    <div id="chart">
      <div id="explanation" style="visibility: hidden;">
        <span id="percentage"></span><br/>
        of all expected marker sequences belong to this group
      </div>
    </div>
  </div>
  <div id="sidebar">
    <div id="legend"></div>
  </div>
</div>