<div id="main">
  <table>
    <tr>
      <td width="750px" align="center" >
        <div class="overview_diagram">
          <h3>Expected GBoL marker sequences per family</h3>
          <div id="sequence1"></div>
          <div id="chart1">
            <div id="explanation1" style="visibility: hidden;">
              <span id="percentage1"></span><br/>
              of all expected marker sequences belong to this group
            </div>
          </div>
        </div>
      </td>
      <td width="130px" align="center">
        <div id="sidebar">
          <div id="legend"></div>
        </div>
      </td>
      <td width="750px" align="center">
        <div class="overview_diagram">
          <h3>Finished GBoL marker sequences per family</h3>
          <div id="sequence"></div>
          <div id="chart">
            <div id="explanation" style="visibility: hidden;">
              <span id="percentage"></span><br/>
              of all finished marker sequences belong to this group
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>