<div class="jumbotron about-background" style="opacity: 0.8;">

  <%= project_logo(@home) %>

  <h1>
    <%= @home.title %>
    <br>
    <%= about_subtitle(@home) %>
  </h1>

  <p>
    <%= about_description(@home) %>
  </p>

<!-- TODO: add partner logos -->
</div>
