<div class="panel panel-default" style="opacity: 0.7;">

  <div class="panel-heading">
    <h3 class="panel-title">Privacy Policy</h3>
  </div>

  <div class="panel-body">
    <p>
      The BarKeeper web portal http://barkeeper.uni-muenster.de collects personal data from visitors. Personal data are all data that can be used
      to identify a real person either directly or indirectly by combination. This includes the device’s internet addresses
      (IP-addresses) and all identifiers connected with a page visit.
    </p>

    <p>
      Responsible for the BarKeeper web portal and data processing according to the General Data Protection Regulation (GDPR) is:<br>
    <p style="padding-left: 30px;">
      Kai Müller<br>
      Evolution and Biodiversity of Plants<br>
      <a href="http://ieb.uni-muenster.de/">Institute for Evolution and Biodiversity</a><br>
      <a href="https://www.uni-muenster.de/en/">Westfälische Wilhelms-Universität Münster</a><br>
      (Statutory body and an institution of the state of North Rhine-Westphalia)<br>
      Hüfferstraße 1<br>
      48149 Münster<br>
      Germany<br>
      E-Mail: <a href="mailto:kaimueller@uni-muenster.de">kaimueller@uni-muenster.de</a>
    </p>
    </p>

    <p>
      You have the right to request a copy of all personal data stored about you and to request the deletion or correction
      of these data. The request can be send to the person responsible for this web portal or via email to
      <a href="mailto:sarah.wiechers@uni-muenster.de">sarah.wiechers@uni-muenster.de</a>. Details on your rights to access,
      correct and delete your personal data are described in paragraphs 6, 7, 8, and 9 of this document.
    </p>

    <br>

    <h4><strong>1 Collection and processing of personal data</strong></h4>
    <p>
      The BarKeeper portal serves as an example application for the BarKeeper software. The portal
      differentiates between registered users and visitors. Registered users are able to provide and edit example data
      to the portal. Visitors are users who can access some of this data without any
      registration. Different privacy protection policies apply to the groups of non-registered users and registered users
      (see paragraphs 2 and 3).
    </p>

    <br>

    <h4><strong>2 Collected personal data of non-registered users</strong></h4>
    <p>
      The following data are collected from non-registered visitors of the BarKeeper portal:
    </p>

    <ul>
      <li>IP-address, time stamp, browser-identification, requested pages within the BarKeeper portal</li>
    </ul>

    <p>
      These data are stored for 14 days to allow us to recognize and defend attacks on the BarKeeper portal server.
    </p>

    <p>
      In addition, the following data will be stored on the visitor’s device to allow the correct functioning of the BarKeeper portal:
    </p>

    <ul>
      <li>So called cookies with a unique identifier</li>
    </ul>

    <p>
      Cookies are small text files saved on or by the web browser, installed on the user’s
      computer system. Cookies are often saved on the user’s operating system whenever a user accesses a website.
      The file contains a distinctive sequence of characters which enables the browser to correctly identify a website
      when it is visited again. Some elements on our website make it necessary to identify a querying browser after a page change.<br>

      The setting and storage of cookies can be completely prevented by disallowing them in your browsers settings.
      Alternatively, the storage of cookies can be limited to the time period of your browser session.
    </p>

    <br>

    <h4><strong>3 Collected personal data of registered users</strong></h4>
    <p>
      Users of the BarKeeper portal can register to be able to create and edit example data. Some
      data is only visible to registered users. To be able to contact registered users about changes to the portal
      important to their interests the following information is stored:
    </p>
    <ul>
      <li>Name and email address of the user</li>
      <li>Affiliation in a research institute</li>
    </ul>

    <p>
      These data are only collected in agreement with the respective user. Users are informed about data collection and
      asked to accept this privacy policy when they register at the BarKeeper portal.
    </p>

    <p>
      In addition to the data collected for non-registered users (see paragraph 2) the following data are collected when
      users are registered:
    </p>
    <ul>
      <li>The name of the user and the date and time of their login</li>
    </ul>

    <p>
      These data are used to manage the access of the users to their resources on the portal (upload and access data,
      account management). The setting of cookies can be prohibited by disallowing cookies via the browser preferences.
    </p>

    <br>

    <h4><strong>4 Collection of personal data in the example research data</strong></h4>
    <p>
      The goal of the BarKeeper portal is to provide an example portal for the BarKeeper project. The data provided
      by registered users can contain personal information such as:
    </p>
    <ul>
      <li>Name(s) of the collectors that have done the specimen collection</li>
      <li>Locality and date of the sampling location, with coordinates and possibly a locality description</li>
    </ul>

    <p>
      These data are made publicly available under the condition that the collector has given his / her permission. The
      permission to publish the data can be revoked on the level of single datasets after consultation of the responsible
      BarKeeper contact person.
    </p>

    <p>
      When a registered user uploads personal data of people that are not registered in the BarKeeper portal (e. g. people
      that participated in specimen collection) the registered user must have the permit to upload these data to the
      BarKeeper portal. In addition, the registered user must have informed the people about the usage of their personal
      data in the BarKeeper portal. People whose data have been provided to the research data by registered users have the
      same rights on requesting, correction and deletion of their personal data as registered users.
    </p>

    <br>

    <h4><strong>5 Contact address to request deletion, correction, or accessing personal data and to revoke the
      agreement of personal data handling</strong></h4>
    <p>For all requests on deletion, correction, access and agreement on personal data collected in the BarKeeper portal please contact:</p>
    <p style="padding-left: 30px;">
      Kai Müller<br>
      Evolution and Biodiversity of Plants<br>
      <a href="http://ieb.uni-muenster.de/">Institute for Evolution and Biodiversity</a><br>
      <a href="https://www.uni-muenster.de/en/">Westfälische Wilhelms-Universität Münster</a><br>
      (Statutory body and an institution of the state of North Rhine-Westphalia)<br>
      Hüfferstraße 1<br>
      48149 Münster<br>
      Germany<br>
      E-Mail: <a href="mailto:kaimueller@uni-muenster.de">kaimueller@uni-muenster.de</a>
    </p>

    <br>

    <h4><strong>6 Deletion or correction of personal data</strong></h4>
    <p>
      Personal data will be deleted or corrected on request. Users can request the deletion or correction of their
      personal data by contacting the person responsible for this web portal (see address above). User authentication
      is required when requesting the deletion or correction of personal data.
    </p>

    <br>

    <h4><strong>7 Access to collected personal data</strong></h4>
    <p>
      Collected personal data will be made available to the concerned person in machine readable or human readable form.
      Users can request information on their personal data and the data themselves by contacting the person responsible
      for this web portal (see address above). The request will be processed within a period of 4 weeks, if the requesting
      person can provide a valid authentication.
    <p>

      <br>

    <h4><strong>8 Revoke the agreement to collect personal data</strong></h4>
    <p>
      Registered users can revoke their given agreement to the collection and handling of personal data by the
      BarKeeper portal. The collected data will then be deleted within 4 weeks. The person who wants to revoke their
      agreement will be asked for an authentication. The revoke-request can be send to the person responsible for
      this web portal (address see above).
    </p>

    <br>

    <h4><strong>9 Right of appeal at the regulating authority</strong></h4>
    <p>
      In accordance to article 13 of the GDPR users have the right of appeal at the regulating authority. The address is:
    </p>
    <p style="padding-left: 30px;">
      Landesbeauftragte für Datenschutz und Informationsfreiheit Nordrhein-Westfalen<br>
      Helga Block<br>
      Postfach 20 04 44<br>
      40102 Düsseldorf<br>
      or<br>
      Kavalleriestraße 2-4<br>
      40213 Düsseldorf<br>
      Email: <a href="mailto:%20poststelle@ldi.nrw.de">poststelle@ldi.nrw.de</a><br>
      Public PGP-Key: <a href="https://www.ldi.nrw.de/metanavi_Kontakt/key_ldi.asc">https://www.ldi.nrw.de/metanavi_Kontakt/key_ldi.asc</a>
    </p>
  </div>
</div>
