<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">SATIVA Mislabel Analyses</h3>
  </div>
  <div class="panel-body">
  <p> Please be aware that these analyses currently only include marker sequences in the GBOL5 project.</p>
    <div class="wideTable">
      <table id="mislabel_analyses" data-source="<%= mislabel_analyses_path(format: "json") %>" class="table table-striped table-hover table-bordered" >
        <thead>
        <tr>
          <th>Title</th>
          <th>Number of identified mislabeled sequences</th>
          <th>Total number of sequences included</th>
          <th>Created at?</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>

