/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_self
 *= require dataTables/jquery.dataTables
 *= require chosen
 *= require_tree .
 */


.read-names {
  white-space: nowrap;
  overflow-x: auto;
  //width: 250px;
}

div#contig {
  overflow-x: auto;
  //width: 1200px;
  width: 100%;
}

.grey {
  color: #babebe;
}


.alignment {

  overflow-x: auto;

//  .pos {
//    font-family:'Courier New';
//    font-size: smaller;
//    color: gray;
//  }
//
//  td {
//    background-color: #ffffff;
//  }
//
//  .read_name {
//    font-family:'Courier New';
//    font-size: medium;
//  }
//  .sequence {
//    margin: 0px;
//    padding: 0px;
//    font-family:'Courier New';
//    font-size: medium;
////    background-color: white;
//    letter-spacing: -5px;
//
//    .consensus {
//      font-weight: bolder;
//    }
//
//    .A {
//      color: red;
//    }
//    .B {
//      color: #0000FF;
//    }
//    .C {
//      color: blue;
//    }
//    .D {
//      color: #0033FF;
//    }
//    .E {
//      color: #0066FF;
//    }
//    .F {
//      color: #0099FF;
//    }
//    .G {
//      color: black;
//    }
//    .H {
//      color: #00CCFF;
//    }
//    .I {
//      color: #003399;
//    }
//    .K {
//      color: #006699;
//    }
//    .L {
//      color: #009999;
//    }
//    .M {
//      color: #00CC99;
//    }
//    .N {
//      color: #d1d3cf;
//    }
//    .P {
//      color: #663399;
//    }
//    .Q {
//      color: #666699;
//    }
//    .R {
//      color: #669999;
//    }
//    .S {
//      color: #66CC99;
//    }
//    .T {
//      color: green;
//    }
//    .V {
//      color: #66FF99;
//    }
//    .W {
//      color: #663300;
//    }
//    .X {
//      color: #666600;
//    }
//    .Y {
//      color: #669900;
//    }
//    .Z {
//      color: #66CC00;
//    }
//    .gap {
//      color: gray;
//    }
//    .missing {
//      color: gray;
//    }
//    .trimmed {
//      color: #d3d3d3;
//    }
//    .invisible {
//      color: #ffffff;
//    }
//  }
}

//table stuff

.wideTable {
   overflow-x: auto;
 }

table tfoot td {
  font-weight: bold;
}


//spinner:
.sk-circle {
  //margin: 100px auto;

  //margin:0 auto;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  //width: 100%;
  //height: 100%;
  z-index: 9999;
  //position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  //left: 0;
  //top: 0;
}

//form my old spinner:
//#sk-circle {
//
//
//  background: image_url('page-loader.gif') no-repeat 50% 50%;
//}


.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #b9b9b9;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
}