// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

//= depend_on_asset 'species_images/IMG_3438.jpg'

div.vertical-spacer {
  height: 10px;
}

div.move-right {
  display: inline-block;
  min-width: 20%;
}

div.isolate-copy {
  min-width: 45%;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #eeeeee;
  margin-bottom: 10px;
  padding: 10px;
}

.nav-shadow {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

a {
  color: inherit;

  &:visited {
    color: inherit;
  }
  &:hover {
    color: #3072ed;
    text-decoration: none;
  }
}

a.my-btn {

  color: white;

  &:visited {
    color: white;
  }
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.column {
  @extend .col-md-6;
  @extend .text-center;
}
.form {
  @extend .col-md-6;
}
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
}
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
}

// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  //  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
}

section {
  @extend .row;
  margin-top: 20px;
}

input[type=text] {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  padding: 0px !important;
  margin: 0px !important;
  border: 1px solid lightgrey !important;
  overflow: auto !important;
  outline: none !important;

  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

input.sequence_position_left {
  text-align: right;
  width: 40px;
  border: 0;
}
input.sequence_position_right {
  text-align: left;
  width: 40px;
  border: 0;
}

.authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
}
.authform form {
  @extend .well;
  @extend .well-lg;
  padding-bottom: 40px;
}
.authform .right {
  float: right !important;
}
.authform .button {
  @extend .btn;
  @extend .btn-primary;
}
.authform fieldset {
  @extend .well;
}
#error_explanation {
  @extend .alert;
  @extend .alert-danger;
}
#error_explanation h2 {
  font-size: 16px;
}
.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}

body {
  background-color: #ededed;
}

div.about-background {
  background-color: #fffffa;
}

body.about_page {
  background: image-url('species_images/IMG_3438.jpg') fixed;
}

.isolate-copy-label {
  font-size: large;
  background-color: #eff4f4;
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 3px;
}

ul.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px lightgrey;
  cursor: default;
  li {
    background-color: white;
    margin: 0;
    padding: 3px;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: lightgrey;
    }
  }
}

.hasDatepicker {
  display: inline-block;
}

.ui-helper-hidden-accessible {
  display: none;
}

.table.table-striped.table-hover.table-bordered {
  width: 100% !important;
}

input.form-control {
  border: 1px solid lightgrey !important;
  padding: 5px !important;
  width: auto !important;
}


