// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

a {
  color: inherit;

  &:visited {
    color: inherit;
  }
  &:hover {
    color: #3072ed;
    text-decoration: none;
  }
}

.column {
  @extend .col-md-6;
  @extend .text-center;
}
.form {
  @extend .col-md-6;
}
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
}
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
}

// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  //  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
}

section {
  @extend .row;
  margin-top: 20px;
}

input[type=text] {
  border: none;
  padding: 0;
  -webkit-appearance: none;
  box-shadow: none !important;
}

textarea {
  padding: 0px !important;
  margin: 0px !important;
  border: none !important;
  overflow: auto !important;
  outline: none !important;

  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

input.sequence_position_left {
  text-align: right;
  width: 40px;
  border: 0;
}
input.sequence_position_right {
  text-align: left;
  width: 40px;
  border: 0;
}

.authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
}
.authform form {
  @extend .well;
  @extend .well-lg;
  padding-bottom: 40px;
}
.authform .right {
  float: right !important;
}
.authform .button {
  @extend .btn;
  @extend .btn-primary;
}
.authform fieldset {
  @extend .well;
}
#error_explanation {
  @extend .alert;
  @extend .alert-danger;
}
#error_explanation h2 {
  font-size: 16px;
}
.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}

body {
  background-color: #ededed;
}

body.about_page {
  background-image: url('species_images/IMG_3438.jpg');
  background-attachment: fixed;
}
