<p>
  <strong>Name:</strong>
  <%= @alignment.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @alignment.URL %>
</p>

<%= link_to 'Edit', edit_alignment_path(@alignment) %> |
<%= link_to 'Back', alignments_path %>
