<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Top-level Taxa</h3>
  </div>
  <div id='higher_order_taxa_tree' class='visualization'></div>
</div>

<%= link_to 'New top-level taxon', new_higher_order_taxon_path %>

