<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Top-level Taxa</h3>
  </div>
  <button id='reset_zoom' class="btn btn-default">Reset zoom & center</button>
  <div id='higher_order_taxa_tree' class='visualization'></div>
  <p style="margin: 5px;">
    Filled grey circles can expand child taxa when clicked. Clicking on a taxon's name will open a page with more detailed information about it.
  </p>
</div>

<%= link_to 'New top-level taxon', new_higher_order_taxon_path %>

