

<p>
  <strong>Micronic plate:</strong>
  <%= @micronic_plate.micronic_plate_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @micronic_plate.name %>
</p>

<%= link_to 'Edit', edit_micronic_plate_path(@micronic_plate) %> |
<%= link_to 'Back', micronic_plates_path %>
