<div class="panel-footer" style="opacity: 0.7;">
  <div class="text-right"><%= link_to 'Legal disclosure', legal_disclosure_path %> | <%= link_to 'Privacy policy', privacy_policy_path %></div>
</div>
